.c:after{
  clear: both;
  content: "";
  display: block;
}

nav{
    text-decoration: none;

}

#fw{
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    animation-name: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform: translateY(90deg);
    }

@keyframes heading {
    0%{transform: translateY(-100px)}
    100%{transform: translateY(5px)}
}

#home{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    padding: 3px;
    margin-left: 250px;
}

#ww
    {
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    padding: 3px;
    margin-left: 20px;
    }

#food{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    padding: 3px;

}

#joinus{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    padding: 3px;
    margin-left: 20px;
    box-sizing: border-box;
}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit]
      width: 100%;

    
    }

    p::selection {
      background-color: gray;
      cursor: text;
      }

    .main::first-letter{
      color:black;
      font-size: 25px;
      font-weight: bold;

    }

  h1{
    font-family: 'Syne Mono', monospace;
    color: silver;
    font-size: 50px;
  }

  h2{
    font-family: 'Syne Mono', monospace;
  }

  h4{
    font-family: 'Syne Mono', monospace;
  }
  .footer{
    color: silver;

  }
.footer:hover {
  background-size: 150%;
  background-position: center ;
}
